## Visual Studio ##
*.suo
*.pdb
*.csproj.user
bin/
obj/
TestResults/
packages/
/services
project.lock.json
launchSettings.json
.vs/
artifacts
## Windows, OS X ##
Thumbs.db
.DS_Store
._.DS_Store
Desktop.ini

# Ignore NuGet Packages
*.nupkg

## Resharper ##
*.DotSettings.user
.vs/restore.dg
/src/ComplianceServices/DataFile/keyFile.json
/src/Utilities/CryptographySetup/DataFile/keyFile.json
/deploy/terraform/.terraform
/src/ComplianceServices/Properties/PublishProfiles
/upgrades/changescripts/LiabilityFilingSessionCount.sql
/src/Utilities/GenerateTransactionData/appsettings_Backup.json
/src/Utilities/GenerateTransactionData/Properties/PublishProfiles
/src/ComplianceServices/appsettings - Copy.json
/src/Utilities/CryptographySetup/DataFile/keyFile_2_11.json
/src/Utilities/Permissions/DataFile/key-*
/src/Utilities/Permissions/DataFile/keyFile.json
/src/Utilities/Permissions/DataFile/keyFile_2_11.json
/src/Utilities/Permissions/DataFile/keyFile_18_4_1.json
/src/ComplianceServices/DataFile/keyFile_2_11.json
/ReturnsMigrationService/local_packages/EntityFramework.6.1.3/EntityFramework.6.1.3.nupkg
/ReturnsMigrationService/local_packages/EntityFramework.6.1.3/tools
/ReturnsMigrationService/local_packages/EntityFramework.6.1.3

# Docker build script output
**/build-docker.out
/src/Utilities/GenerateTransactionData/appsettings - Copy.json
/.vs/ComplianceServices/v15/Server/sqlite3/storage.ide
/.vs/ComplianceServices/v15/Server/sqlite3/storage.ide-shm
/.vs/ComplianceServices/v15/Server/sqlite3/storage.ide-wal
/.vs
/RegressionTests/SeleniumTests/COSAPITests/.vs/COSAPITests/v15/Server/sqlite3/storage.ide-shm
/RegressionTests/SeleniumTests/COSAPITests/.vs/COSAPITests/v15/Server/sqlite3/storage.ide
/RegressionTests/SeleniumTests/COSAPITests/.vs/COSAPITests/v15/Server/sqlite3/storage.ide-wal
/src/ComplianceServices/keyFile_18_4_1.json
/src/ComplianceServices/WorkingDir/201806_239_PDFS
/src/ComplianceServices/DataFile/key-*
/src/ComplianceServices/DataFile/keyFile_*
/src/Utilities/LocationProcessing/DataFile/FailedCompanies.txt
/src/Utilities/LocationProcessing/DataFile/SuccessfulCompanies.txt
/src/Utilities/LocationProcessing/DataFile
/src/Lambda/BulkUploadAttachmentProcessing/Properties/launchSettings.json
/src/Lambda/ProcessCommsPrecif/Properties/launchSettings.json
/src/Lambda/ProcessLocationsRegistrationJobs/Properties/launchSettings.json
/src/Lambda/ProcessLocationsSync/Properties/launchSettings.json
/src/Lambda/ProcessLoginValidationHistory/Properties/launchSettings.json
/src/Lambda/ProcessSkyscraperLocationJobs/Properties/launchSettings.json
/src/Lambda/RequestLocationsRegistration/Properties/launchSettings.json
/src/Lambda/ResetFirmPrintBatchSequence/Properties/launchSettings.json
