## Visual Studio ##
*.suo
*.pdb
*.csproj.user
bin/
obj/
TestResults/
packages/
/services
project.lock.json
launchSettings.json
.vs/
artifacts
## Windows, OS X ##
Thumbs.db
.DS_Store
._.DS_Store
Desktop.ini

# Ignore NuGet Packages
*.nupkg

## Resharper ##
*.DotSettings.user
